

  .rating:not(:checked) > input {
    display: none;
  }
  
  .rating:not(:checked) > svg {
    float: right;
    cursor: pointer;
    font-size: 30px;
  }
  
  .rating:not(:checked) >  svg {
    fill: #666;
    transition: fill 0.3s ease;
  }
  
  .rating > input:checked ~ svg {
    fill: #ffa723;
  }
  
  .rating:not(:checked) > svg:hover {
    fill: #ff9e0b;
  }
  
  .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 70px;
    margin-top: 10px;
  }